# Homework 1: playing with pandas dataframe
Data source: http://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

In [134]:
from scipy.io import arff
import pandas as pd

In [135]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [136]:
df['bankruptcy'] = (df['class']==b'1')

In [137]:
data4 = df.iloc[:,[0,1,6,9,64]]
data4.columns=['X1','X2','X7','X10','class']
data4.head()

         X1       X2        X7      X10 class
0  0.159290  0.46240  0.189480  0.38330  b'0'
1 -0.127430  0.46243 -0.127430  0.53757  b'0'
2  0.070488  0.23570  0.086895  0.67689  b'0'
3  0.136760  0.40538  0.136760  0.58938  b'0'
4 -0.110080  0.69793 -0.110080  0.30207  b'0'

In [138]:
data4.describe()

                X1           X2           X7          X10
count  9791.000000  9791.000000  9791.000000  9791.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359321     4.587122     0.533344     4.590299
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001321     0.263145     0.003004     0.294440
50%       0.041364     0.467740     0.048820     0.510450
75%       0.111130     0.689255     0.126940     0.714290
max      20.482000   446.910000    38.618000    12.602000

In [139]:
data4.isnull().describe()

           X1     X2     X7    X10  class
count    9792   9792   9792   9792   9792
unique      2      2      2      2      1
top     False  False  False  False  False
freq     9791   9791   9791   9791   9792

In [140]:
data4[data4.isnull().values==True]

      X1  X2  X7  X10 class
2898 NaN NaN NaN  NaN  b'0'
2898 NaN NaN NaN  NaN  b'0'
2898 NaN NaN NaN  NaN  b'0'
2898 NaN NaN NaN  NaN  b'0'

In [141]:
data4.fillna(data4.mean(),inplace = True)
data4.iloc[[2898]]

F:\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

            X1        X2        X7      X10 class
2898  0.043019  0.596404  0.059446  0.38904  b'0'

In [142]:
grouped=data4.groupby('class')
print(grouped.size())
print('----Mean----')
print(grouped.mean())
print('----Std----')
print(grouped.std())
print('--------')
print(data4.describe())

class
b'0'    9277
b'1'     515
dtype: int64
----Mean----
             X1        X2        X7       X10
class
b'0'   0.049231  0.580752  0.066162  0.404899
b'1'  -0.068873  0.878355 -0.061538  0.103367
----Std----
             X1        X2        X7       X10
class
b'0'   0.343002  4.689694  0.530524  4.692934
b'1'   0.568076  1.945596  0.568432  1.946747
--------
                X1           X2           X7          X10
count  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359303     4.586887     0.533317     4.590064
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001322     0.263163     0.003005     0.294510
50%       0.041374     0.467770     0.048840     0.510435
75%       0.111125     0.689183     0.126930     0.714285
max      20.482000   446.910000    38.618000    12.602000

In [143]:
subgroup=data4.loc[(data4['X1'] < data4['X1'].mean()-data4['X1'].std()) & (data4['X10'] < data4['X10'].mean()-data4['X10'].std())]
print(len(subgroup))

15

In [144]:
subgroup['class'].value_counts(normalize=True)

b'0'    0.8
b'1'    0.2
Name: class, dtype: float64